<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  </head>
<body>

<!========================================
              NAVIGATION
========================================-->     
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">Social Layover</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="profile">Profile</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!========================================
              ACTIVE USERS
========================================--> 
  <div class="container">
    <hr class="featurette-divider">
    <div class="container">
      <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="static/img/default.jpg" width="140" height="140" border="0" class="img-circle" name="aboutme"></a>
      <h4><%=user.name%><br><small class="airline">San Francisco International Airport</small></h4>
<!========================================
              ACTIVE USERS MODAL
========================================--> 
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Profile</h4>
            </div>
            <div class="modal-body">
              <center>
                <img src="static/img/default.jpg" width="140" height="140" border="0" class="img-circle">
                <h3 class="media-heading"><%=user.name%><br><small><%=user.age%>, <%=user.job%></small></h3>
              </center>
            <hr>
              <center>
                <p class="text-left"><strong>Bio: </strong><br><%=user.about%></p>
                <br>
                  <a href="<%=user.facebook%>" target="blank">
                    <img src="static/img/facebook.png" alt="Home">
                  <a href="<%=user.instagram%>" target="blank">
                    <img src="static/img/instagram.png" alt="Home">
                  <a href="<%=user.twitter%>" target="blank">
                    <img src="static/img/twitter.png" alt="Home"></a>
              </center>
            </div>
            <div class="modal-footer">
              <center>
                <form id="contacts-form" action='mailto:<%=user.email%>'>
                  <button class="btn btn-default" href="mailto:address?subject=subject&body=message" class="button">Request to chat!</button>
                </form>
              </center>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <hr class="featurette-divider">
  </div>
<!========================================
              INDIVIDUAL CHAT MODAL
========================================--> 
  <div class="example-chat l-demo-container">
    <header>Lounge Chat</header>

    <div class='example-chat-toolbar'>
      <label for="nameInput">Username:</label>
      <input type='text' id='nameInput' placeholder='enter a username...'>
    </div>

    <ul id='example-messages' class="example-chat-messages"></ul>

    <footer>
      <input type='text' id='messageInput'  placeholder='Type a message...'>
    </footer>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>